# App
NODE_ENV=development

# API
API_PORT=4444
WEB_URL=http://localhost:3333

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ravand
DB_USER=ravand
DB_PASSWORD=

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3333
API_URL=http://localhost:4444/api/v1