# App
NODE_ENV=development

# API
API_PORT=3001
WEB_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ravand
DB_USER=ravand
DB_PASSWORD=

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001